/* fonts do google */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root {
    --text-yellow: #efce37;
    --color-white: #ffffff;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    width: 100%;
    height: 100vh;
    /* cor imagem repetiçao posiçao / tamanho attachment*/
    background: url(../img/mobile.png) no-repeat center / cover;

    /* font padrao para o app todo*/
    font-family:  "Fredoka", sans-serif;
}

header {
    text-align: center;
    padding-block: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}


.input_pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.format {
    border: none;
    padding: 0.5rem 0.8rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
}
 
/* card do pokemon */
.card_pokemon {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    min-height: 300px;
    background-color: rgba(197, 197, 230, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    display: none;
    
}

.description.show {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    border-top: 1px solid var(--color-black);
    padding-block: 0.5rem;
}

.add.show {
    display: flex;
    justify-content: center;
}

.btn_add {
    padding: 0.5rem 0.8rem;
}


/* estiliza o tamanho do pokemon */
#img_pokemon {
    width: 200px;
    height: auto;
}


/* media query para ser usado no desktop*/
@media (min-width: 1200px) {
    #container {
        background-image: url(../img/desktop.png);
    }
}
